#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
header {
  display: flex;
  flex-direction: row;
  color: black;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.app-container {
}

nav {
  display: inline-flexbox;
  justify-items: auto;
  background-color: bisque;
  grid-column: span 4;
  grid-row-start: 2;
  grid-row-end: 5;
}
.maingamecontrols {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 45vh;
  padding: 10px;
}
.GCButton {
  display: flex;
  flex-direction: column;
  max-width: 45vh;
  align-content: center;
  padding: 10px;
}
.Upgrades {
  display: flex;
  flex-direction: column;
  border-radius: 10%;
  border-width: 3px;
  padding: 10px;
  border-color: #fca164;
}
.scorecard {
  display: flex;
  flex-direction: column;
  border-radius: 5%;
  border-width: 2px;
  width: 70%;
  background-image: url(./images/cookies.png);
  container: 70%;
  align-self: center;
}
h1,
p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #222;
}
body {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background: #fff;
  font: 100% system-ui;
}
.dark-theme {
  background-color: #121212;
  color: #ffffff;
  --text-color: #000000;
}

.light-theme {
  background-color: #ffffff;
  color: #000000;
  --text-color: #eee;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
